
.wrapper {
   display:flex;
   background-color: red;
   width: 50%;
   justify-content: space-between;
   margin: 0 auto
}
.main-btns {
    height: 100px;
}
.filter-input {
    width: 50%;
    height: 30px;
    margin-top: 20px;
}

.content {
    width: 50%;
    background-color: yellow;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}
.add-report {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto
}

html, body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.2em;
  }
  
  #page-numbers {
    list-style: none;
    display: flex;
  }
  
  #page-numbers > li {
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
  }